
<ion-content padding>
    <img src="assets/imgs/esusulogo.png" width="100" class="logo" />
    <div style="padding-top:50px;">
        <h4>{{ name | uppercase}}</h4>
      </div>
      <div style="text-align: center;color:yellow; font-weight: bold;">{{error}}</div>
      <div *ngIf="scheme" style="padding-top:30px;" class="info">
          <table>
            <tr>
              <td class="title">Amount</td><td>{{ amount }}</td>
            </tr>
            <tr>
              <td class="title">Starting</td><td>{{ scheme.startdate|date:'longDate' }}</td>
            </tr>
          </table>
      </div>
      <div class="members" *ngIf="memberLen >0">
          <h4>SCHEME MEMBERS</h4>
            <table class="table">
                <thead>
                  <th>NAME</th><th>STATUS</th>
                </thead>
                <tbody *ngFor="let member of members">
                  <tr>
                    <td>{{member.name}}</td>
                    <td *ngIf="member.active==0"><span style="color:red;" class="glyphicon glyphicon-user"></span></td>
                    <td *ngIf="member.active==1"><span style="color:green;" class="glyphicon glyphicon-user"></span></td>
                  </tr>
                 
                </tbody>
            </table>
        </div>
        <div class="members" *ngIf="activelen > 0">
          <h4>ACTIVE MEMBERS</h4>
            <table class="table">
                <thead>
                  <th>NAME</th><th>TAKE HOME</th><th>PAY DAY</th>
                </thead>
                <tbody *ngFor="let member of actives">
                  <tr>
                    <td>{{member.name}}</td>
                    <td >{{takehome}}</td>
                    <td>{{ member.payday | date:'shortDate'}}</td> 
                  </tr>
                </tbody>
            </table>
           
             
          
        </div>
        <div style="padding-top:15px; " *ngIf="status==0">
          <label>Payment Date</label>
            <select name="payday" [(ngModel)]="payday" class="form-control" style="font-weight: bold;">
               <option *ngFor="let pay of paydays">{{pay}}</option>
            </select>
        </div>
       
        <button *ngIf="status==0" ion-button full color="light" class="mybutton" (click)="join()">Join Scheme</button>
        <button ion-button full color="light" class="mybutton" (click)="pay()">Make payment</button><br />
        <button ion-button full color="light" class="mybutton" (click)="paymentDetails()">Payment Details</button>
        <div style="font-weight: bold;color:yellow; text-align: center;">{{error}}</div><br />
  <button *ngIf="status!=0" ion-button full color="light" class="mybutton" (click)="changePayDay()">Change Pay Day</button>
        <p (click)="back()" style="margin-top:20px; font-weight: 50px;"><span class="glyphicon glyphicon-arrow-left"></span></p>
</ion-content>
