page-register {
    .list-md,.item-md{
        background-color:rgba(0,0,0,0);
        border-style: solid;
        border-color:rgba(255, 255, 255,0.5);
        border-radius:15px;
        color:#fff;
        text-align:center !important;
        padding:0px;
    }
    .text-inpu-md,.text-input{
        text-align: center !important;
    }
    .button-inner{
        border-style: none;
        padding:10px;
        padding-left:15px;
        padding-right:15px;
    }
    .mylogo{
        text-align: center;
        padding-top:20px;
        padding-bottom: 30px;
    }
    p{
        margin-top:30px;
    }
}
