page-addmembers {
    .myitem.list-md,.myitem.item-md{
        background-color:rgba(0,0,0,0);
        border-style: solid;
        border-color:rgba(255, 255, 255,0.5);
        color:#fff;
        padding:0px;
    }
}
