page-addmembers {
    .myitem.list-md,.myitem.item-md{
        background-color:rgba(0,0,0,0);
        border-style: solid;
        border-color:rgba(255, 255, 255,0.5);
        color:#fff;
        padding:0px;
    }

    .selector {
        font-family: SFNSDisplay;
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.1px;
        color: #29235e;
        width: 100% !important;
        max-width: 100% !important;
        justify-content: center !important;
        border-style: solid;
        border-color:rgba(255, 255, 255,0.5) !important;
        background-color:rgba(0,0,0,0) !important;
      }
      .ion-option-items .item{
        font-family: SFNSDisplay;
        font-size: 8px !important;
        max-width: 100% !important;
      }
      
}
